.layout {
    background-image: url("/background.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}


.first_place {
    animation: 15s ease 0s normal forwards 1 fadein;
    -webkit-animation: 15s ease 0s normal forwards 1 fadein;
    
    z-index: 1;
    position: absolute;
    top: 240px;
    left: 630px;
    border-radius: 600px;
    width: 600px;
    height: 600px;
}

.second_place {
    animation: 17s ease 0s normal forwards 1 fadein;
    -webkit-animation: 17s ease 0s normal forwards 1 fadein;
    z-index: 1;
    position: absolute;
    top: 540px;
    right: 250px;
    border-radius: 200px;
    width: 256px;
    height: 256px;
}

.third_place {
    animation: 17s ease 0s normal forwards 1 fadein;
    -webkit-animation: 17s ease 0s normal forwards 1 fadein;
    
    z-index: 1;
    position: absolute;
    top: 685px;
    left: 216px;
    border-radius: 200px;
    width: 256px;
    height: 256px;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0    ;
    }

    100% {
        opacity: 1;
    }
}