.layout {
    background-image: url("/background.png");
    background-repeat: no-repeat;
    overflow: auto;
    background-size: cover;
}


.first_place {
    animation: 15s ease 0s normal forwards 1 fadein;
    -webkit-animation: 15s ease 0s normal forwards 1 fadein;
    z-index: 1;
    position: absolute;
    top: 120px;
    left: 340px;
    border-radius: 100%;
    width: 325px;
    height: 335px;
}

.second_place {
    animation: 17s ease 0s normal forwards 1 fadein;
    -webkit-animation: 17s ease 0s normal forwards 1 fadein;
    z-index: 1;
    position: absolute;
    top: 290px;
    right: 135px;
    border-radius: 100%;
    width: 140px;
    height: 140px;
}

.third_place {
    animation: 17s ease 0s normal forwards 1 fadein;
    -webkit-animation: 17s ease 0s normal forwards 1 fadein;
    z-index: 1;
    position: absolute;
    top: 365px;
    left: 115px;
    border-radius: 100%;
    width: 140px;
    height: 140px;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}